body {
  font-family: Arial, Helvetica, sans-serif;
}
img {
  padding: 1rem;
  width: 150px;
  height: 100px;
}

.text {
  color: rgb(140, 140, 140);
}
main {
  display: block;
  align-items: ;
}

.conteiner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.vidus {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.image {
  background-image: url(https://images.unsplash.com/photo-1653856010951-71ff2af1b4a1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwyNHx8fGVufDB8fHx8&auto=format&fit=crop&w=500&q=60);
  display: block;
  z-index: 1;
  position: relative;
  padding: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  width: 10rem;
  transition: all 0.5s ease;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 600px) {
  .conteiner {
    display: flex;
    flex-wrap: wrap;
  }
}

a {
  text-decoration: none;
  color: #fff;
  cursor: pointer;
}

.first {
  margin-bottom: 1rem;
  padding: 0rem 2rem 1rem 1rem;
  width: fit-content;
}

.lenteles::before {
  content: "";
  background-color: rgb(78, 96, 105);
  opacity: 0.3;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.5s ease-out;
}

.item:hover .lenteles::before {
  animation: slideLeft 1s ease-out;
  width: 0;
  height: 0;
  top: 100%;
}

.soc svg {
  border-style: solid;
  text-align: center;
  border: 1px solid black;
  padding: 0.5rem;
}

@media screen and (min-width: 600px) {
  .pabaiga {
  }
}

.forma {
  display: flex;
  flex-direction: column;
  max-width: 600px;
}
footer {
  background-color: #f6f6f6;
  padding: 5em 4rem 3em 4rem;
  margin: 0 auto;
}

button {
  background-color: rgb(183, 187, 189);
  padding: 1rem;
  border-radius: 5px;
}
p {
  color: rgb(78, 96, 105);
}
